@import '../../scss/index.scss';

.banner {
    background: $purple;
    line-height: 80px;
    padding-left: 30px;
    &-title{
        color: $white;
        margin: 0;
        font-size: 24px;
    }
}