$purple:        #44197E;
$coral:         #FF564D;
$green:         #8FC640;
$blue:          #40C1EF;
$yellow:        #F5BC18;
$gray600:       #262429;
$gray500:       #585360;
$gray400:       #8A8494;
$gray300:       #BEBBC4;
$gray200:       #D8D6DB;
$gray100:       #F2F1F3;

$screen-xs:     320px;
$screen-sm:     540px;
$screen-md:     720px;
$screen-lg:     960px;
$screen-xl:     1140px;